
@media screen and (max-width: 823px){

	body{
		background-color: #e3e3e3;
	}

	select{
		border:none;
		background-color: #e3e3e3;
	}

	input{
		text-align: center;
		font-family:'Bahnschrift';
		background-color: white;
		margin-top: 10%;
	}


	h1{
		font-size:32px;
		text-align:center;
		font-family:'Forte';
		color:#8B53A6;
	}

	a{
		 text-decoration: none;
		 color:#8B53A6;
	}


	.grid{
		display: grid;		
    	height: 96vh;
	}

	.main{
		grid-template-rows: 0.2fr 1fr 1fr;
	}



	
	
	

	/*-----------------------------Header---------------------------*/


	.head-logo{
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
    	background-color:;
	}

	.data-forget{
		margin-top: -3px;
		font-size:14px;
		text-align:center;
		font-family:'Garamond';
		letter-spacing: 1px;
		line-height: 1.5;
		color:#8B53A6;
	}

	.sign-face{
		margin-top: 17px;
		font-size:18px;
		text-align: center;
		font-family:'Impact';
		letter-spacing: 2px;
		line-height: 1.5;
		color:#8B53A6;
	}

	.input-email{
		width: 40vh;
		height: 35px;
		border-radius: 7px;
		border:none;
		box-shadow: 0 7px 7px rgba(0,0,0,0.4);
	}

	.input-color{
		background-color:#8B53A6 ;
		color: #e3e3e3;
	}

	.btn {
	  width: 60%; 
	  padding: 12px;
	  border: none;
	  border-radius: 4px;
	  margin: 2% 0 0 15%;
	  opacity: 0.85;
	  display: inline-block;
	  font-size: 14px;
	  line-height: 20px;
	  text-decoration: none;
	}

	
}


@media screen and (min-height: 600px) {
	.btn {
	  font-size: 100%;
 
	}

	h1{
		font-size: 300%;
	}

	input{
		margin-top: 10%;
		font-size: 100%;
	}

	.input-email{
		width: 40vh;
		height: 6vh;
	}

	.sing-up{
		font-size: 150%;
	}

	.data-forget{
		font-size: 120%;
	}

	.input-marg{
		margin-top: -10%;
	}

}